[gcode_macro PRINT_START]
gcode:
  {%- import message as msg -%}
  {% set target_chamber = params.CHAMBER_TEMP|default(0)|float %}
  {% set target_bed = params.BED_TEMP|int %}
  {msg.echo("Starting print...")}

  # Load beacon model for this build plate
  BEACON_LOAD_MODEL PLATE_TYPE="{params.PLATE_TYPE|default('')}"

  # Get all tools used
  {% set tools = namespace(value='') %}
  {% for tool_nr in printer.toolchanger.tool_numbers %}
    {% set tooltemp_param = 'T' ~ tool_nr ~ '_TEMP' %}
    {% if tooltemp_param in params %}
      {% if tools.value != '' %}
        {% set tools.value = tools.value + ',' %}
      {% endif %}
      {% set tools.value = tools.value ~ tool_nr %}
    {% endif %}
  {% endfor %}
  {msg.info("Tools used in this print: " + tools.value)}

  # Kick off temps early, without wait
  {% if target_chamber > 0 %}
    M140 S120                                      # boost bed temp to help heat chamber
    SET_CHAMBER CHAMBER_TEMP={target_chamber}
  {% else %}
    M140 S{target_bed}                                  # Set the target temp for the bed
  {% endif %}

  G28

  # Chamber
  {% if params.CHAMBER_TEMP is defined and params.CHAMBER_TEMP|int != 0 %}
    HEATSOAK_CHAMBER CHAMBER_TEMP={params.CHAMBER_TEMP}
    M140 S{target_bed}                                               # Set the target temp for the bed
  {% endif %}

  {% if params.BED_TEMP is defined and params.BED_TEMP != 0 %}
    M190 S{target_bed}
  {% endif %}
  
  # Final home & qgl
  QUAD_GANTRY_LEVEL
  BED_MESH_CALIBRATE ADAPTIVE=1

  # Switch to first tool
  T{params.TOOL}
  GO_TO_PURGE

  # preheat all used toolheads
  {% for tool_nr in tools.value.split(',') %}
    {% set tooltemp_param = 'T' ~ tool_nr ~ '_TEMP' %}
    {% if tooltemp_param in params %}
      M104 T{tool_nr} S{params[tooltemp_param]|int - 60}
    {% endif %}
  {% endfor %}

  # final heating on first tool
  M109 S{ params.TOOL_TEMP }
  CLEAN_NOZZLE

  # Apply nozzle thermal expansion compensation for final nozzle temp
  {% if printer.configfile.settings.beacon is defined %}
    _BEACON_SET_NOZZLE_TEMP_OFFSET
  {% endif %}
  
  G92 E0 ; Zero extruder
  {msg.info('Printing...')}
  SKEW_PROFILE LOAD=calilantern_skew_profile
  LINE_PURGE

[gcode_macro PRINT_END]
gcode:
  {%- import message as msg -%}
  # Clear the buffer
  M400
  # zero extruder
  G92 E0
  # Retract a little filament
  G1 E-4.0 F3600
  
  SET_SKEW CLEAR=1

  # relative
  G91

  #   Get Boundaries
  {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
  {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
  {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

  #   Check end position to determine safe direction to move
  {% if printer.toolhead.position.x < (max_x - 20) %}
      {% set x_safe = 20.0 %}
  {% else %}
      {% set x_safe = -20.0 %}
  {% endif %}

  {% if printer.toolhead.position.y < (max_y - 20) %}
      {% set y_safe = 20.0 %}
  {% else %}
      {% set y_safe = -20.0 %}
  {% endif %}

  {% if printer.toolhead.position.z < (max_z - 20) %}
      {% set z_safe = 20.0 %}
  {% else %}
      {% set z_safe = max_z - printer.toolhead.position.z %}
  {% endif %}

  G0 Z{z_safe} F3600             ; move nozzle up
  G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
  
  TURN_OFF_HEATERS
  UNSELECT_TOOL RESTORE_AXIS=xyz

  # Reset thermal expansion compensation state for next print
  {% if printer.configfile.settings.beacon is defined %}
    _BEACON_REMOVE_NOZZLE_TEMP_OFFSET
    _BEACON_SET_NOZZLE_TEMP_OFFSET RESET=True
  {% endif %}
  
  G90
  G0 Y{max_y - 20} X20 F5000 ; move to back left

  # turn off fan
  M107
  M18
  {msg.success('Print done!')}
