[toolchanger]
t_command_restore_axis: Z
initialize_on: first-use
require_tool_present: False
uses_axis: XYZ

params_input_shaper_freq_x: 62.4
params_input_shaper_freq_y: 88.6

params_safe_y: 100
params_close_y: 50
params_fast_speed: 30000 # Go as fast as we can
params_path_speed: 1200 # 20mm/s for the actual change

# Path positions relative to the park position
# use x,y,z; f= multiplier to path speed; verify happens after full path
params_dropoff_path: [{'z': 3.5,  'y': 4, 'f': 3.0},
                      {'z': 2,    'y': 1, 'f': 2.0},
                      {'z': 1,    'y': 0, 'f': 1.0},
                      {'z': 0,    'y': 0, 'f': 0.8},
                      {'z': -12,  'y': 0, 'f': 3}]

params_pickup_path:  [{'z': -12,  'y': 2, 'f': 3.0},
                      {'z': -10,  'y': 0, 'f': 2.0},
                      {'z': -5,   'y': 0, 'f': 1.0},
                      {'z': 1,    'y': 0, 'f': 0.75},
                      {'z': 2,    'y': 2, 'f': 1.25},
                      {'z': 3,    'y': 5, 'f': 2}]

error_gcode:
  PAUSE

before_change_gcode:
  # turn off color in mainsail
  {% if printer['gcode_macro T' ~ tool.tool_number] %}
      SET_GCODE_VARIABLE MACRO={'T' ~ tool.tool_number} VARIABLE=color VALUE="''"
  {% endif %}
  SET_INPUT_SHAPER SHAPER_FREQ_X=0 SHAPER_FREQ_Y=0

after_change_gcode:
  # Sets a color in mainsail
  {% if printer['gcode_macro T' ~ tool.tool_number] %}
      {% set color = 'bf4de8' if tool.tool_number % 2 == 0 else '5ae0f2' %}
      SET_GCODE_VARIABLE MACRO={'T' ~ tool.tool_number} VARIABLE=color VALUE="'{color}'"
  {% endif %}
  {% if tool.params_input_shaper_freq_x %}
    SET_INPUT_SHAPER SHAPER_TYPE_X={tool.params_input_shaper_type_x|default(printer.configfile.settings.input_shaper.shaper_type_x|default('mzv'))} SHAPER_FREQ_X={tool.params_input_shaper_freq_x} DAMPING_RATIO_X={tool.params_damping_ratio_x|default(printer.configfile.settings.input_shaper.damping_ratio_x|default(0.1))} \      SHAPER_TYPE_Y={tool.params_input_shaper_type_y|default(printer.configfile.settings.input_shaper.shaper_type_y|default('mzv'))} \      SHAPER_TYPE_Y={tool.params_input_shaper_type_y|default(printer.configfile.settings.input_shaper.shaper_type_y|default('mzv'))} SHAPER_FREQ_Y={tool.params_input_shaper_freq_y} DAMPING_RATIO_Y={tool.params_damping_ratio_y|default(printer.configfile.settings.input_shaper.damping_ratio_y|default(0.1))}
  {% endif %}
  
dropoff_gcode:
    # ─── get all our variables from the old tool
    {% set th               = printer.toolhead %}
    {% set cur              = th.position %}
    {% set lim_min, lim_max = th.axis_minimum, th.axis_maximum %} 
    {% set close_y_force    = tool.params_close_y|float %}
    {% set safe_y_force     = tool.params_safe_y|float %}
    {% set path_speed       = tool.params_path_speed|float %}
    {% set tool_size        = tool.params_tool_size|default({'x': 60, 'y': 60, 'z': 90}) %}  
    {% set min_D            = tool.params_min_D|default(25)|float %}
    {% set fast             = tool.params_fast_speed|float %}
    {% set accel            = tool.params_fast_accel|default(printer.configfile.settings.printer.max_accel)|float %}
    {% set path             = tool.params_dropoff_path %}
    {% set dock, start      = {}, {} %}
    {% for ax in ('x', 'y', 'z') %}
        {% set pos = tool['params_park_' ~ ax]|float %}
        {% set _ = dock.update( { ax: pos } ) %}
        {% set _ = start.update( { ax: pos + path[0].get(ax, 0)|float } ) %}
    {% endfor %}

    {%- macro try_add_param(axis, path_step) -%} # adds " X12.5" for example
        {(' ' ~ axis|upper ~ (dock[axis] + path_step[axis])) if axis in path_step else ''}
    {%- endmacro -%}

    # ╭────────────────────────── EXPLAIN ────────────────────────────╮
    # |  why tool size, why "safe_y_force" and not just "safe_y?"     |
    # |  we clamp the safe_y because if its too low,                  |
    # |  wed smash into docks. Similarly for the other side,          |
    # |  we similarly clamp the umbilicals side, this lets us pick    |
    # |  a value which works (while also avoiding unnecicary moves)   |
    # |                                                               | 
    # |         (dock.y + tool_size.y)                                | 
    # |               (approach)                                      | 
    # |     (Dock)|     /           <\ (umbilicals)                   | 
    # | (dock.y ^)||_| <*            | (^ lim_max.y - tool_size.y)    |     
    # |           |                  |                                |     
    # |           |                  |                                | 
    # |           | 0 ---> *  <- 350 |                                |         
    # |                 (cur.y)                                       | 
    # ╰───────────────────────────────────────────────────────────────╯

    {% set retreat_y  = [[cur.y, safe_y_force, (dock.y + tool_size.y)]|max, lim_max.y - tool_size.y]|min %}
    {% set approach_y = dock.y + tool_size.y|float %}
    {% set close_y    = [(dock.y + path[-1].get('y', 0)|float) + 2, close_y_force]|max %}

    M82
    G90
    SET_VELOCITY_LIMIT ACCEL={ accel }

    # ─── Move up to the dock and drop it off
    G0 Z{ [cur.z + 1.0, lim_max.z]|min } F{ fast }

    ROUNDED_G0 Y={ retreat_y }   D=50    F={ fast }

    {% if (dock.x - cur.x)|abs >= min_D %}
        # ─── Join XZ segment if X is too short (corner ends up too sharp)
        ROUNDED_G0 X={ dock.x }  D={ ((safe_y_force / 4.0) * 3.0)|int } F={ fast }
        ROUNDED_G0 Z={ start.z } D={ (safe_y_force / 2.1)|int }         F={ fast }
    {% else %}
        ROUNDED_G0 X={ dock.x } Z={ start.z } D={ ((safe_y_force / 4.0) * 3.0)|int } F={ fast }
    {% endif %}

    ROUNDED_G0 Y={ approach_y } D=10   F={ fast }
    ROUNDED_G0 Y={ start.y }    D=0    F={ fast/2 }

    # ─── run path
    {% for step in path %}
        G0{try_add_param('x', step)}{try_add_param('y', step)}{try_add_param('z', step)} F{path_speed * step.get('f', 1.0)|float}
    {% endfor %}

    {("SET_STEPPER_ENABLE STEPPER=" ~ tool.extruder ~ " ENABLE=0") if tool.extruder else ''}
    {% if pickup_tool is none %}
        G0 Y{ retreat_y } F{ fast }
    {% else %}
        G0 Y{ close_y } F{ fast }
    {% endif %}

    SET_VELOCITY_LIMIT ACCEL={ th.max_accel }



pickup_gcode:
    # ─── get all variables for the tool we want to pick up
    {% set th               = printer.toolhead %}
    {% set cur              = th.position %}
    {% set lim_min, lim_max = th.axis_minimum, th.axis_maximum %} 
    {% set tool_size        = tool.params_tool_size|default({'x': 60, 'y': 60, 'z': 90}) %}
    {% set min_D            = tool.params_min_D|default(25)|float %}
    {% set close_y_force    = tool.params_close_y|default(40)|float %}
    {% set safe_y_force     = tool.params_safe_y|default(120)|float %}
    {% set fast             = tool.params_fast_speed|default(99999)|float %}
    {% set accel            = tool.params_fast_accel|default(printer.configfile.settings.printer.max_accel)|float %}
    {% set path             = tool.params_pickup_path %}
    {% set ps               = tool.params_path_speed|default(1000)|float %}
    {% set tn               = tool.tool_number %}
    {% set dock, start      = {}, {} %}
    {% for ax in ('x', 'y', 'z') %}
        {% set pos = tool['params_park_' ~ ax]|float %}
        {% set _ = dock.update( { ax: pos } ) %}
        {% set _ = start.update( { ax: pos + path[0].get(ax, 0)|float } ) %}
    {% endfor %}

    {% set close_y  = [(dock.y + path[-1]['y']) + 2, close_y_force]|max %}
    {% set safe_y   = [safe_y_force, (dock.y + tool_size.y)]|max %}

    {%- macro add_param(axis, path_step) -%}
        {(' ' ~ axis|upper ~ '=' ~ (dock[axis] + path_step[axis])) if axis in path_step else ''}
    {%- endmacro -%}

    SET_VELOCITY_LIMIT ACCEL={accel}
    # ─── Move to pick it up now
    G90

    ROUNDED_G0 Y={close_y}              F={fast} D=5  #todo calc point distance, scale D accordingly.
    ROUNDED_G0 X={start.x} Z={start.z}  F={fast} D=5
    ROUNDED_G0 Y={start.y}              F={fast} D=0
    
    {% if tool.extruder %} # ─── wait for temp if has extruder and target is set
        {% set target = printer[tool.extruder].target %}
        { ('M109 T' ~ tn ~ ' S' ~ target) if target > 0 else '' }
    {% endif %}

    # ─── Run the pickup path until we hit the 'verify' point.
    {% for step in path %}
        ROUNDED_G0{add_param('x', step)}{add_param('y', step)}{add_param('z', step)} F={ps * step.get('f', 1.0)|float} D={step.get('d', 1.0)}
    {% endfor %}

    # Close out rounded movement
    ROUNDED_G0 D=0

    # ─── restore accel in case we error in verify.
    SET_VELOCITY_LIMIT ACCEL={th.max_accel}
    VERIFY_TOOL_DETECTED T={tn}
    SET_VELOCITY_LIMIT ACCEL={accel}

    #================================= PICKUP /\---/\ ===== RESTORE \/---\/ =================================

    {% set rx = restore_position.get('X', False) %}
    {% set ry = restore_position.get('Y', False) %}
    {% set rz = restore_position.get('Z', False) %}

    # ─── possibly choose the decend Y if it falls within our min max
    {% set safe_y_max    = lim_max.y - tool_size.y - 10 %}
    {% set safe_y_min    = [safe_y_force, (dock.y + tool_size.y)]|max %}
    {% if ry and ry >= (safe_y_min + 10) and ry <= (safe_y_max - 10) %}
        {% set safe_y = ry %}
    {% endif %}

    {% set safe_y_d = [10, (10 + (safe_y - tool_size.y) * 0.4142)]|max %} # allow scaling deviation

    # ─── move out of docks.
    ROUNDED_G0 Y={safe_y} F={fast} D={safe_y_d}

    {% if rx and (dock.x - rx)|abs < min_D and rz %}  # join XZ segment if X is too short (corner ends up too sharp) 
        ROUNDED_G0 X={rx} Z={rz + 10} F={fast} D=200
    {% else %}
        {% if rz %} ROUNDED_G0 Z={rz + 10} F={fast} D=200  {% endif %}
        {% if rx %} ROUNDED_G0 X={rx}      F={fast} D=1000 {% endif %}
    {% endif %}
    {% if ry %} ROUNDED_G0 Y={ry} F={fast}   D=50 {% endif %}
    {% if rz %} ROUNDED_G0 Z={rz} F={fast/5} D=0  {% endif %}

    ROUNDED_G0 D=0

    SET_VELOCITY_LIMIT ACCEL={th.max_accel}


[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
  INITIALIZE_TOOLCHANGER
  VERIFY_TOOL_DETECTED
  RESUME_BASE

[gcode_macro TOOL_ALIGN_START]
gcode:
    INITIALIZE_TOOLCHANGER # Detect current tool
    _TOOL_ALIGN_START

[gcode_macro _TOOL_ALIGN_START]
gcode:
    VERIFY_TOOL_DETECTED
    {% set tool = printer[printer.toolchanger.tool] %}
    SET_TOOL_PARAMETER PARAMETER='params_path_speed' VALUE=300
    ENTER_DOCKING_MODE
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}
    G0 X{tool.params_park_x} Z{tool.params_park_z}
    G0 Y{tool.params_park_y|float + 100.0}

[gcode_macro TOOL_ALIGN_TEST]
gcode:
    VERIFY_TOOL_DETECTED
    {% set curpos = printer.gcode_move.gcode_position %}
    {% if curpos[1] > 0 %}
      # Check if Y is not too far, to very unrealistic tests.
      RESPOND TYPE=error MSG='Test aborted. Tool too far away from the dock.'
    {% else %}
      SET_TOOL_PARAMETER PARAMETER='params_park_x' VALUE={curpos[0]}
      SET_TOOL_PARAMETER PARAMETER='params_park_y' VALUE={curpos[1]}
      SET_TOOL_PARAMETER PARAMETER='params_park_z' VALUE={curpos[2]}
      TEST_TOOL_DOCKING RESTORE_AXIS=XYZ
    {% endif %}

[gcode_macro TOOL_ALIGN_DONE]
gcode:
    VERIFY_TOOL_DETECTED
    {% set tool = printer[printer.toolchanger.tool] %}
    SAVE_TOOL_PARAMETER PARAMETER='params_park_x'
    SAVE_TOOL_PARAMETER PARAMETER='params_park_y'
    SAVE_TOOL_PARAMETER PARAMETER='params_park_z'
    RESET_TOOL_PARAMETER PARAMETER='params_path_speed'
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}
    EXIT_DOCKING_MODE
